* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: #222823;
    font-family: 'Courier New', Courier, monospace;
    color: #f4f7f5;
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 50px;;
    margin-bottom: 100px;;
}
.btns {
    display: flex;
    gap: 10%;
}

.btn {
    border: 2px solid #ffc300;
    padding: 20px;
    cursor: pointer;
}

.computer-display {
    margin: 60px;
}